body {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, sans-serif;

}

.logout {
    border-radius: 10px;
    border: none;
}

.sampul {
    width: 1349px;
    height: 530px;
    margin-bottom: 50px;
}

.judul {
    margin-left: 600px;
    color: white;

}

.navbar {
    width: 1320px;
    position: fixed;
    background-color: #F7BD34;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.text{
    text-align: center;
    margin-bottom: 80px;
    font-size: large;
}
.kelas1{
    text-align: center;
    padding-top: 10px;
    height: 45px;
    width: 180px;
    background-color: #F7BD34;
    border-radius: 15px;

}
.kelas2{
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    height: 45px;
    width: 180px;
    background-color: #F7BD34;
    border-radius: 15px;

}
.kelas3{
    margin-top: 30px;
    text-align: center;
    padding-top: 10px;
    height: 45px;
    width: 180px;
    background-color: #F7BD34;
    border-radius: 15px;

}
.tambah{
    margin-top: 50px;
    text-align: center;
    padding-top: 10px;
    height: 45px;
    width: 180px;
    background-color: #fd6129;
    border-radius: 15px;

}
.pilih{
    margin-left: 150px;
}
.foto{
    height: 500px;
    

}
.ta{
    text-align: center;
    font-size: large;
}
.gabung{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}
.penutup {
    height: 300px;
    text-align: center;
    padding-top: 100px;
    color: white;
    background-color: black;
}